*{
    box-sizing: border-box;
    font-family: Yu Gothic;
}

.container{
    max-width: 1200px;
    width: 100%;
}

.site-heder{
    margin-bottom: 40px;
}

.head-top{
    padding: 11px 0;
    background: #FFF1E8;
}

.head-title{
    text-align: center;
}

.head-title h2{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.602;
}

.head-bottom{
    padding: 10px 0;
    background: #F8F8F8;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.headbot-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headbot-content .head-logo a{
    margin-right: 98px;
}

.headbot-content .head-logo .logo-mobile{
    display: none;
}

.headbot-content .head-menu{
    padding: 9px 46px 9px 10px;
    border-radius: 5px;
    background: #F39800;
    position: relative;
    cursor: pointer;
}

.head-menu.active{
    background: #000;
    transition: transform 0.3s;
}

.headbot-content .head-menu p{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.602;
    margin-bottom: 0;
    text-transform: uppercase;
}

.head-menu .click-menu span{
    width: 24px;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 84px;
    background: #FFF;
    border-radius: 4px;
    display: block;
}

.head-menu .click-menu::before,
.head-menu .click-menu::after{
    content: ' ';
    width: 24px;
    height: 4px;
    background: #FFF;
    border-radius: 4px;
    position: absolute;
    left: 84px;
}

.head-menu .click-menu::before{
    top: 13px;
}

.head-menu .click-menu::after{
    bottom: 14px;
}

/* clickmenu */
.content-click-menu{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0 0 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: none;
}

.content-click-menu .menu{
    text-align: end;
}

.content-click-menu .menu ul li a{
    color: #212121;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.602;
    padding: 9px 30px;
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 25px;
}

.content-click-menu .menu ul li a:hover{
    background: #F39800;
    color: #fff;
}

/*  */
.click-menu.active span {
    visibility: hidden;
    transition: transform 0.3s;
}

.click-menu.active::before,
.click-menu.active::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  top: 43%;
  left: 87px;
  transition: transform 0.3s;
}

.click-menu.active::before {
  transform: rotate(45deg);
}

.click-menu.active::after {
  transform: rotate(-45deg);
}
/* end-menu */

/* section-banner */
.banner{
    position: relative;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding: 59px 39px 85px;
    text-align: end;
    margin-bottom: 120px;
}

.overlay{
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.inner-banner{
    position: relative;
    z-index: 2;
}

.inner-banner h3{
    color: #F39800;
    font-family: RocknRoll One;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.448;
    margin-bottom: 27px;
}

.inner-banner p{
    color: #FFF;
    font-family: RocknRoll One;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.448;
}

.inner-banner .banner-icon svg{
    margin-bottom: 27px;
    margin-right: 182px;
}

.inner-banner .btn-banner a{
    font-size: 26px;
}

.inner-banner .btn-banner a svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
}
/* end-banner */

/* section-eventpost */
.event-post{
    border-radius: 50px;
    background: #FFF9F5;
    padding: 50px;
    margin-bottom: 120px;
}


.box-content .thumbnail img{
    width: 500px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}

.box-content .thumbnail{
    position: relative;
}

.box-content .thumbnail::after{
    content: ' ';
    width: 500px;
    height: 400px;
    border-radius: 40px;
    background: #F1F1F1;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 0;
}

.title{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    margin-left: 15px;
}

.title span{
    color: #F39800;
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #F39800;
    text-align: center;
    margin-right: 21px;
}

.title h3{
    max-width: 270px;
    width: 100%;
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.602;
}

.desc p{
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.666;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 30px;
}

.box-content-01{
    margin-bottom: 50px;
}

.box-content-02{
    margin-bottom: 68px;
}

.box-content-02 .thumbnail{
    text-align: end;
}

.box-content-02 .thumbnail::after{
    left: auto;
    right: 55px;
}

.box-content-02 .title,
.box-content-02 .desc p{
    margin-right: 15px;
    margin-left: 0;
}

.box-content-02 .title{
    margin-bottom: 22px;
}

.box-content-02 .desc p{
    margin-bottom: 39px;
}

.event-post-btn{
    text-align: center;
}

.btn-post a{
    font-size: 32px;
    padding: 4px 38px 4px 91px;
}

.btn-post a svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 37px;
}

/* section-introduce */
.introduce{
    background: #FFF1E8;
    padding: 80px 0;
    margin-bottom: 120px;
}

/* info-lecturers */
.info-lecturers{
    padding: 26px 50px 25px;
    background: #FFF;
    border-radius: 40px;
    margin-bottom: 78px;
}

.info-lecturers .box-lecturers{
    align-items: center;
}

.lecturers-desc h3{
    margin-bottom: 34px;
}

.lecturers-desc p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.666;
    margin-bottom: 30px;
}

.lecturers-detail .logo{
    text-align: end;
    margin-bottom: 34px;
}

.lecturers-detail .lecturers-image img{
    border-radius: 50%;
    margin-bottom: 25px;
}

.lecturers-detail p{
    max-width: 370px;
    width: 100%;
    color: #000;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.666;
}
/* end-info-lecturers */

/* food */
.food{
    padding: 50px;
    background: #FFF;
    border-radius: 40px;
}

.box-food{
    align-items: start;
}

.box-food-desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.box-food-desc img{
    margin-bottom: 17px;
    width: 500px;
}

.box-food-desc p{
    max-width: 500px;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.666;
    margin-bottom: 0;
}
/* end-food */
/* end-section-introduce */

/* section-insurance */
.box-insurance{
    flex-wrap: nowrap;
    gap: 0 40px;
    justify-content: center;
}

.content-insurance{
    max-width: 500px;
    width: 100%;
}

.insurance-img .insurance-logo{
    margin-bottom: 18px;
}

.insurance-img .insurance-thumbnail{
    border-radius: 40px;
}

.insurance-desc h3{
    margin-bottom: 40px;
}

.insurance-desc p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.666;
    margin-bottom: 30px;
}
/* end-insurance */

/* section-button */
.button{
    background: #FFF1E8;
    padding: 71px 0 70px;
    text-align: center;
    margin-bottom: 120px;
}
/* end-section-button */

/* section-gift */
.gift{
    margin-bottom: 104px;
}

.gift .gift-title{
    text-align: center;
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.gift .gift-title h2{
    padding: 3px 46px;
    background: #F39800;
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.602;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 67px;
}

.gift .gift-title span{
    position: absolute;
    top: 10px;
    z-index: 0;
}

.gift .gift-title .icon-left{
    left: -66px;
}

.gift .gift-title .icon-right{
    right: -66px;
}

.gift-content{
    flex-wrap: wrap;
    gap: 0 40px;
    margin-bottom: 41px;
}

.gift-content .box-gift-content{
    flex-basis: calc(50% - 40px);
    flex-grow: 1;
}

.gift-content .box-gift-content img{
    margin-bottom: 24px;
}

.gift-content .box-gift-content .gift-detail{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.602;
    margin-bottom: 0;
}

.notification p{
    color: #00AEEF;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.602;
    margin-bottom: 0;
}
/* end-section-gift */

/* section-gallery */
.gallery{
    margin-bottom: 120px;
    text-align: center;
}

.gallery-content{
    border-radius: 50px;
    background: #F8F8F8;
    padding: 80px 50px 135px;
}

.gallery-content h4{
    color: #F39800;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.83;
    padding-bottom: 10px;
    border-bottom: 1px solid #F39800;
    display: inline-block;
    margin-bottom: 45px;
}

.gallery-column{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.gallery-column .inner-gallery{
    flex-basis: calc(100% - 10px);
    flex-grow: 1;
}

.box-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

.box-gallery .gallery-img{
    flex-basis: calc(33.333% - 10px);
    flex-grow: 1;
}

.box-gallery .gallery-img{
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.box-gallery .gallery-img:hover .gallery-overlay{
    visibility: visible;
    opacity: 1;
}

.gallery-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.gallery-overlay .overlay-border{
    width: 94%;
    height: 92%;
    border: 1px solid #FFF;
    position: relative;
    top: 10px;
    left: 10px;
}

.gallery-overlay .overlay-border a{
    position: relative;
    top: 45%;
    background-image: url('/images/gallery-overlay.png');
    background-position: center;
    background-repeat: no-repeat;
}

.box-gallery .gallery-img:hover{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}

.low-column{
    top: 55px;
}
/* end-section-gallery */

/* section-disease */
.disease{
    padding: 89px 0 71px;
    background: #F8F8F8;
    margin-bottom: 122px;
}

.disease svg{
    position: relative;
    top: 205px;
    left: 66px;
}

.disease h4{
    text-align: center;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.83;
    margin-bottom: 48px;
}

.inner-disease{
    align-items: center;
}

.disease-desc p,
.disease-desc ul li{
    color: #444;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.disease-desc p,
.disease-desc ul{
    margin-bottom: 30px;
}

.disease-desc ul li{
    padding-left: 25px;
    position: relative;
}

.disease-desc ul li::after{
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    border: 1px solid #000;
}
/* end-section-disease */

/* section-booking */
.booking{
    margin-bottom: 120px;
}

.booking .booking-title{
    text-align: center;
}

.booking .booking-title h4{
    color: #F39800;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.83;
    padding-bottom: 10px;
    border-bottom: 1px solid #F39800;
    display: inline-block;
    margin-bottom: 45px; 
    text-align: center;
}

.banking-form{
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

.banking-form form{
    border: 1px dashed #F39800;
    padding: 40px;
}

.container-input{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin-bottom: 20px;
}

.banking-form form input{
    width: 100%;
}

.banking-form form .input-content{
    flex-basis: calc(50% - 10px);
}

.banking-form form .input-content p,
.banking-form form .input-fullwidth p{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 3px;
}

.banking-form form .input-content input,
.banking-form form .input-fullwidth input,
.banking-form form .input-content select,
.banking-form form .input-fullwidth textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #DFDFDF;
    color: #444;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.banking-form form .input-content select{
    padding: 12px 15px;
}

.banking-form form .input-fullwidth textarea{
    margin-bottom: 22px;
}

.banking-form form .input-content input::placeholder,
.banking-form form .input-fullwidth input::placeholder,
.banking-form form .input-content select::placeholder,
.banking-form form .input-fullwidth textarea::placeholder{
    color: #444;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.banking-form form .input-fullwidth{
    flex-basis: calc(100%);
}

.banking-form form .input-content input[type="checkbox"],
.input-checkbox input {
    display: none;
}

.banking-form form .input-content label{
    position: relative;
    padding-left: 45px;
}

.banking-form form .input-content label::before{
    content: ' ';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #DFDFDF;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.banking-form form .input-content label::after{
    content: ' ';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F39800;
    position: absolute;
    top: 4px;
    left: 5px;
    display: none;
}

input[type="checkbox"]:checked + label::after{
    display: block;
}

input[type="checkbox"]:checked + label::before{
    border: 1px solid #F39800;
}

.input-checkbox label{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    margin-bottom: 34px;
}

.input-checkbox label::before{
    content: ' ';
    width: 30px;
    height: 30px;
    border: 1px solid #DFDFDF;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
}

.input-checkbox label::after{
    content: ' ';
    width: 20px;
    height: 20px;
    background: #F39800;
    position: absolute;
    top: 3px;
    left: 5px;
    display: none;
}

.booking-btn{
    text-align: center;
}

.booking-btn button{
    border-radius: 5px;
    background: #F39800;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.181;
    padding: 12px 48px;
    border: none;
    outline: none;
}

.booking-btn button:hover{
    text-decoration: underline;
}
/* end-form-booking */

/* footer */
.site-footer{
    background: #000;
    padding: 50px 0 41px;
}

.foot-brand{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    align-items: center;
    margin-bottom: 48px;
}

.foot-icon,
.foot-logo{
    text-align: center;
    width: 100%;
    background: #fff;
    flex-basis: calc(50% - 30px);
    flex-grow: 1;
    padding: 12px 0;
}

.foot-logo{
    padding: 17px 0;
}

.foot-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-category ul li{
    display: inline-block;
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
}

.foot-category ul li:last-child{
    padding: 0;
    margin: 0;
}

.foot-category ul li a{
    color: #D7D7D7;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.875;
}

.foot-category ul li a:hover{
    text-decoration: underline;
    color: #F39800;
}

.foot-category ul li:not(:last-child)::after{
    content: ' ';
    width: 1px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.foot-credit p{
    color: #8C8C8C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 0;
}

.bgmobile{
    display: none;
}

.banner-icon-mobile{
    display: none;
}